################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/tl-renamer-cli/obj
/tl-renamer-cli/bin/Release/netcoreapp3.1
