################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/tl-renamer-cli/obj
/tl-renamer-cli/bin/Release/netcoreapp3.1
/bin/.vs/tl-renamer-cli/v16
/bin
/out/build/x64-Debug (default)
/tl-renamer-cli
